html, body
{
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

body
{
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: none;
}

a.trash
{
    color: #eeeeee;
    font-size: 16px;
    vertical-align: top;
}


a.trash:hover
{
    color: #ff0000;
}

a.star
{
    color: #eeee00;
    font-size: 16px;
    vertical-align: top;
}

/*a.star:hover
{
    color: #00ff00;
}*/

a.star-highlight
{
    color: #00ff00;
    font-size: 16px;
    vertical-align: top;
}

/*a.star-highlight:hover
{
    color: #eeee00;
}*/

#ex0
{ 
  position: absolute; 
  top: 400px; 
  left: 400px; 
  z-index: 99; 
}

/* Outer border */
table.testgrid { 
  border-collapse: collapse; 
  border: 1px solid #AAA;
  width: 100%;
}

/* This is just horizontal borders? */
table.testgrid tr {
  border-bottom: 1px solid #AAA;
}

/* This is the colors of the hovered row (bg and text)*/
table.testgrid>tbody tr:hover {
  background-color: #444;
  color: white;
}

/*table.testgrid>tbody tr:hover a {
  color: white;
}*/

/* This is the table headers */
table.testgrid th {
  background: #222;
  border: 1px solid #AAA;
  color: #ddd;
  text-align: center;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  white-space: nowrap; 
}

/* These are the standard gridlines */
table.testgrid td {
  padding: 5px;
  border: 1px solid #AAA;
}


#menu-ul
{
  padding: 20px;
}

.menu-button
{
    background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
    background-size: 40px 40px;
    background-repeat: no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.button {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  color: #ffffff;
   border:0;
  /*font-size: 20px;*/
  background: #3498db;
  padding: 5px 5px;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.grid-button {
  fill: #ffffff;
}

.title
{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    /*width: 100%;*/
}


.content
{
    height: 100%;
}

.submenu
{
    padding: 10px;
}

.menu-iso
{
    padding: 5px;


}

.sliders
{   
    /*display: inline;*/
    margin: 0px 10px;
    width: 200px;
    /*height: 10px;*/
    display: inline-block;
    /*z-index: 999;*/
}

.noUi-horizontal.noUi-extended {
    padding-right: 32px;
}
.noUi-horizontal.noUi-extended .noUi-handle {
    left: -1px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
    right: -32px;
}

input[type="text"]
{
    width: 40px;
}